.foods {
  border-radius: 10px;
  background-color: aliceblue;
  font-size: 7rem; /* Cambia esto según tus necesidades */
  margin: 10px; /* Cambia esto según tus necesidades */
}

.contenedorFoods {
  background-color: antiquewhite;
  display: flex; /* Asegúrate de que esta línea esté presente */
  flex-wrap: wrap;
  justify-content: space-around; /* Asegúrate de que esta línea esté presente */
  width: 80vh;
  border-radius: 10px;
}

.fatherTitle {
  display: flex;
  font-size: 3rem;
  align-items: center;
  flex-direction: column;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .contenedorFoods {
    flex-direction: row; /* Alinea los íconos en columna */
    align-items: center; /* Centra los íconos horizontalmente */
    width: 100%; /* Cambia a un porcentaje o px para mejor ajuste en pantallas pequeñas */
  }

  .foods {
    width: 9vh; /* Permite que los íconos usen el ancho adecuado */
    margin: 10px 0; /* Espaciado vertical entre íconos */
    font-size: 2em; /* Ajusta el tamaño de los íconos según sea necesario */
  }
}
