.foodsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  flex-direction: column; /* Alinea los elementos uno debajo del otro */
  width: 100%; /* Se asegura de que el contenedor ocupe el 100% del ancho disponible */
  max-width: 100vw; /* Asegura que el contenedor no exceda el ancho de la ventana */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}

.noStockMessage {
  width: 30px;
  font-size: 12px;
  color: red;
}

.foodItem {
  font-size: 2rem; /* Tamaño del ícono */
  padding: 10px;
  background-color: rgb(33, 35, 36);
  color: rgb(231, 230, 228);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Se ajusta al ancho del contenedor padre */
  max-width: 500px; /* Ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
  height: 50px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  gap: 20px;
}

/* Otros estilos se mantienen igual... */
.foodIcon {
  font-size: 24px; /* Tamaño del ícono */
  margin-right: 10px; /* Espaciado a la derecha del ícono */
}

/* Estilos para los precios y cantidades */
.foodPrice {
  margin-right: 10px; /* Espaciado a la derecha del precio */
}

.foodQuantity {
  margin-right: 10px; /* Espaciado a la derecha de la cantidad */
}

/* Estilos para los botones */
.button {
  padding: 4px 8px; /* Espaciado interno para los botones */
  font-size: 12px; /* Tamaño de la fuente del texto en los botones */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border: 1px solid #ccc; /* Borde de los botones */
  background-color: #f0f0f0; /* Color de fondo por defecto */
  border-radius: 4px; /* Esquinas redondeadas */
  width: 100%; /* Se ajusta al ancho del contenedor padre */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Nueva clase para botones más pequeños */
.smallButton {
  padding: 2px 4px; /* Espaciado interno reducido para botones más pequeños */
  font-size: 10px; /* Tamaño de fuente más pequeño */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border: 1px solid #aaa; /* Borde de los botones pequeños */
  border-color: rgb(74, 78, 79);
  background-color: rgb(43, 45, 46);
  border-radius: 3px; /* Esquinas redondeadas */
  width: 6vh;
}

.smallButton:hover {
  background-color: #d0d0d0; /* Color de fondo al pasar el mouse para botones pequeños */
}

.totalPrice {
  margin-top: 20px; /* Espaciado superior para el precio total */
}
